#ptext_footer {
	margin-left: 225px;
}

#blog_br {
	display: none;
}

#mob_sidebar_blog {
	display: none;
}

#desk_sidebar_blog {
	display: block;
}

@media (max-width: 767.98px) {
	#ptext_footer {
		margin-left: auto;
		color: white;
		display: none;
	}

 	#blog_br {
 		display: block;
 		margin-top: 8px;
 	}

 	#card_sidebar_mob {
 		width: 15rem; text-decoration: none; border-color: white; border-radius: 10px; color: white; background-color: #363232
 	}

 	#desk_sidebar_blog {
 		display: none;
 	}
	
	#mob_sidebar_blog {
		display: block;
	}

	#home {
		/*margin-top: 10px;*/
		background-color: #363232;
		/*background-color: black;*/
	}

	#br_top {
		border-top: 0 !important;
	}


}